* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 800px;
    height: 500px;
    font-family: 'Source Sans Pro', sans-serif;
    /* border: 1px solid blue; */
}

.contenedor-principal {
    display: flex;
    padding: 30px;
    justify-content: space-around;
    font-size: 25px;
}

.first-icon {
    width: 160px;
    height: 170px;
    padding: 50px ;
    background-color: #0d1c23 ;
    color: #88bcd2;
    text-align: center;
}
 .fa-solid {
    margin-bottom: 5px;
}

.fa-brands {
    margin-bottom: 5px;
}

.contenedor-secundario {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.second-icon {
    width: 70px;
    height: 70px;
    padding: 10px;
    background-color: #88bcd2;
    color: #0d1c23;
    text-align: center;
}
